#roomnumlist{
   width: 100%;
	height: 100%;
	position: absolute;
	z-index: 7800;
    background: #edf5f6;
    text-align:center;
}
#roomnumlist_left{
    position: fixed;
    height: 100%;
    width: 200px;
    background: rgb(37, 36, 36);
}

#roomnumlist_left div{
    position: relative; 
    width:auto;
    height:auto;
    max-width:90%;
    max-height:90%;
    top: 3%;
    color: rgb(255, 255, 255);
    text-align:center;
    margin:20% 0;
}
#roomnumlist_logo img{
   width:auto;
   height:auto;
   max-width:90%;
   max-height:90%;
}

#roomnumlist_top{
    left: 200px;
    position: relative; 
    height: 200px;
    width: 1703px;
}

#roomnumlist_top_return{
    position: absolute; 
    width: 50px;
    height: 50px;
    top: 5px;
    cursor:pointer;
}
#roomnumlist_top_return img{
    width: 100%;
    height: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


#roomnumlist_title{
    position: relative; 
    top: 40px;
    height: 130px;
    width: 100%;
}

#roomnumlist_select{
    position: relative; 
    width: 100%;
    height: 60px;
    border-top:2px solid #c9c3c3;
    border-bottom:2px solid #c9c3c3;
}
#roomnumlist_select div{
    position: relative; 
    float: left;
    display:inline;
    margin:10px;
}

.roomnumnlist_select_a{
    font-size:20px;
}

.roomnumnlist_select_b{
    left: 930px;
    height: 70%;
    width: 100px;
    font-size:30px;
    display:inline;
    cursor:pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:  2px solid #c9c3c3;
}
.roomnumnlist_select_b:hover{
    background: rgb(112, 236, 9);
    color: rgb(255, 255, 255);
}

#roomnumlist_select input{
    border: 2px solid #dbdbdb;
    border-radius: 2px;
    height: 20px;
    width: 100px
}

#roomnumlist_select button{
    position: relative; 
    top: 12px;
}

#roomnumlist_data{
    left: 200px;
    position: relative; 
    width: 1703px;
    height: 670px;
}

.roomnumlist_data_info_title{
    position: relative; 
    top: -5px;
    width: 100%;
    height: 30px;
    background: rgb(211, 212, 211);
    margin:5px 0;
}


.roomnumlist_data_a{
    float: left;
    position: relative; 
    left: 10px;
    width: 40px;
    height: 100%;
    text-align:center;
    font-size:17px;
    overflow:hidden;
}
.roomnumlist_data_b{
    float: left;
    position: relative; 
    left: 30px;
    width: 300px;
    height: 100%;
    text-align:center;
    font-size:17px;
    overflow:hidden;
}

.roomnumlist_data_c{
    float: left;
    position: relative; 
    left: 30px;
    width: 100px;
    height: 100%;
    text-align:center;
    font-size:17px;
    overflow:hidden;
}

.roomnumlist_data_d{
    float: left;
    position: relative; 
    left: 30px;
    width: 100px;
    height: 100%;
    text-align:center;
    font-size:17px;
    overflow:hidden;
}

.roomnumlist_data_e{
    float: left;
    position: relative; 
    left: 30px;
    width: 500px;
    height: 100%;
    text-align:center;
    font-size:17px;
    overflow:hidden;
}

.roomnumlist_data_f{
    float: left;
    position: relative; 
    left: 30px;
    width: 100px;
    height: 100%;
    text-align:center;
    font-size:17px;
    overflow:hidden;
}

.roomnumlist_data_g{
    float: left;
    position: relative; 
    left: 180px;
    width: 400px;
    height: 100%;
    text-align:center;
    font-size:17px;
    overflow:hidden;
}


.roomnumlist_data_info{
    width: 100%;
    height: 60px;
    margin:5px 0;
    line-height:60px;
}


.roomnumlist_data_info:hover{
    background: rgb(92, 218, 190);
}

#roomnumlist_button{
    left: 200px;
    position: relative; 
    width: 100% - 200px;
    height: 70px;
}

.roomnumlist_data_g_a{
    float: left;
    position: relative;
    width: 100px;
    height: 100%;
    cursor:pointer;
}

.roomnumlist_data_g_a_false{
    display:none;
}

.roomnumlist_data_g_a_true{
    display:inline;
}
.roomnumlist_data_g_a:hover{
    background: rgb(243, 243, 243);
    color: rgb(255, 10, 10);
    border-left:1px solid rgb(0, 0, 0); 
    border-right:1px solid rgb(0, 0, 0); 
}

.roomnumlist_button{
    left: 200px;
    position: relative; 
    width: 1703px;
    height: 40px;
    background: rgb(174, 179, 182);
    float: left;
    top: 10px;
    text-align:center;
    border-top:2px solid #c9c3c3;
    border-bottom:2px solid #c9c3c3;
}

.roomnumlist_button div{
    position: relative;
}

.roomnumlist_button_a{
    position: relative; 
    width: 40px;
    height: 40px;
    /* left: 1000px; */
    float: left;
    font-size:20px;
    overflow:hidden;
    cursor:pointer;
    line-height:40px;
    top: 0;
    margin:0;
    padding:0px;
    border-left:1px solid rgb(0, 0, 0); 
    border-right:1px solid rgb(0, 0, 0); 
    color: #ffffff;
}
.roomnumlist_button_a:hover{
    background: rgb(231, 225, 225);
    border-top:none; 
    border-left:1px solid rgb(3, 253, 107); 
    border-right:1px solid rgb(3, 253, 107); 
    color: black;
}

#roomnumlist_button_a_show {
    background: rgb(231, 225, 225);
    border-top:none; 
    border-left:1px solid rgb(199, 253, 3); 
    border-right:1px solid rgb(199, 253, 3); 
    color: black; 
}